<!--ABOUT ME PAGE
// Author: Mel Vincent Anonuevo
// Student ID: 301167069
// Date: Feb 1, 2022
-->

<% if (title == "About"){ %> 
      
    <div>
      
      <h1 id="name" style="position: absolute; left: 650px; top: 200px; width: 600px; text-decoration: underline; height: 30px; color:chartreuse ">
         Mel Vincent Anonuevo
      </h1>  <!--h1 to display name-->
    </div>
    <img style="position: absolute; left: 300px; top: 300px;" src="images/Mel.png" height="450px" width="300px" />  <!-- my photo-->
    <p  style="position: absolute; left: 650px; top: 680px; text-decoration: underline;"></p><a style="background-color: rgb(238, 255, 0); position: absolute; left: 773px; top: 680px;" href="files/resume.pdf">Click here for my resume </a> </p><!--PDF link-->
    
    <p style="position: absolute; left: 650px; top: 300px; font-size: 20px; color:chartreuse"><!-- My information-->
      Hello, my name is Mel Vincent Anonuevo. I am from the Philippines. I have a bachelor degree in Computer Applications from De La Salle - College of Saint Benilde and currently pursuing Software Engineering Techology in Centennial College. I like to sports and I also love to travel and explore new places. My hobbies are basically playing sports, computer and watching tv shows and movies. I have a 3 years work experience in the Philippines and my last job before moving to Canada is a Test Automation Engineer responsible for quality testing for an Insurance company.
    </p>
  <%}%>