
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-light">
        <div class="container-fluid">
          <p class="diplay-9" style="text-align: center;"> © Copyright 2022 Mel Vincent Anonuevo. All rights reserved.</p>    <!-- display message at lower navigation bar-->
        </div>
      </nav>
    </footer>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    var getTitle = "<%= title %>";
  </script>
  <script src="/javascripts/app.js"></script>
</body>
</html>