<!-- HOME PAGE 
// Author: Mel Vincent Anonuevo
// Student ID: 301167069
// Date: Feb 1, 2022
-->
<%if (title == "Home"){ %>     

    <div class="bg-text">
      <h1>Welcome to My Portfolio page</h1>
      <p>This is my portfolio for my web application subject.
          It comes with 5 different pages that consist of Projects, Services, About Me, Contact Me and this page.</p> 
    </div>
    <div class="bg-image"></div>
    
    
    
         <%}%>
    
         