<!--SERVICES PAGE
// Author: Mel Vincent Anonuevo
// Student ID: 301167069
// Date: Feb 1, 2022
-->
<% if (title == "Services"){ %> 
      
    <h1 style="position: absolute; top: 150px; left: 700px; color: chartreuse; text-align: center;">My Services</h1>
    <!-- first service -->
    <h2 style="position: absolute; top: 350px; left: 700px; color:chartreuse ;"> Programming  <i class="fas fa-wrench"></i> </h2>
    <img  src="images/programming.jpg" height="400px" width="800px" style="position: absolute; top:400px; left: 450px;" />

    <!-- second service -->
    <h2 style="position: absolute; top:  950px; left: 650px; color: chartreuse; text-align: center;"> Quality Assurance Testing  <i class="fas fa-wrench"></i> </h2>
    <img  src="images/quality.png" height="400px" width="800px" style="position: absolute; top:1000px; left: 450px; align-content: center;" />

    <!-- third service -->
    <h2 style="position: absolute; top:  1550px; left: 690px; color: chartreuse;"> Software Design  <i class="fas fa-wrench"></i> </h2>
    <img  src="images/design.jpeg" height="400px" width="800px" style="position: absolute; top:1600px; left: 450px;" />

    <h2 style="position: absolute; top:  2300px; left: 650px; color:chartreuse  ;">. <i class="fas fa-wrench"></i> </h2>
    
  <%}%>
